
<% include ../head %>

<link rel="stylesheet" href="http://cache.amap.com/lbs/static/main.css?v=1.0"/>
    <script type="text/javascript"
            src="http://webapi.amap.com/maps?v=1.3&key=ebb3310e602e7027987911af5e30be56"></script>

           
<script>
	function renzheng(){
		$('#main').load('/home/renzheng.html');
	}
</script>

<div class="row">
	      <div class="col-sm-1"></div>
	      <div class="col-sm-2"  style='background-color: #aaa'>
	    <% include ./left %>
	      </div>
	      <div class="col-sm-8" id='main'>
       	<div id='toolbar' style='font-size:2em'>找到地图中准确位置，点击建立营业点</div>
	      <div id="mapContainer" style="width: 100%;  height: 600px;margin-top:36px;margin-left: 12px; " >
	      	
	      </div>
  <script>
	
    //初始化地图对象，加载地图
   
 var map = new AMap.Map('mapContainer', {
       
		view: new AMap.View2D({
			center: new AMap.LngLat(116.397428, 39.90923),
			zoom: 18
		})
    });

AMap.plugin(['AMap.ToolBar','AMap.Scale','AMap.OverView'],
				    function(){
				        map.addControl(new AMap.ToolBar());

				        map.addControl(new AMap.Scale());

				        map.addControl(new AMap.OverView({isOpen:true}));
				});

   





    //var evt=null;

	function eventHandler(e){
		 
		 // evt = e;
	
               
		pubform.lng.value=e.lnglat.getLng();
	    pubform.lat.value=e.lnglat.getLat();
		$('#myModal').modal('show');
		
		
	}


var listener = AMap.event.addListener(map,"click",eventHandler);


    

 

</script>



	<% include ./shopMsg %>

	


	      </div>
	      <div class="col-sm-1"></div>


  </body>
</html>